body {
  height: 100vh;
}


// Grid layout

.app-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.app-container, .editor-container{
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

.code-runner, .problems-list, .editor {
  height: 90vh;
}

footer {
  position: fixed;
  left:0px;
   bottom:0px;
   background-color: #465561;
   border-top: 1.5px solid #cccccc;
   height: 50px;
   width:100%;
}
