body {
  height: 100vh;
}


// Grid layout

.app-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.navbar, .footer {
  height: auto;
  padding: 10px;
  background-color: #465561;
  margin-bottom: 0px;
}

.navbar-items {
width: 100%;
font-family: 'Cinzel', serif;
}

.navbar-items:hover {
color: #CCB868;

}

.navbar-item {
display: inline-block;
width: 20%;
font-size: 22px;
}

.logo {
  display: inline-block;
  width: 30%;
  margin-left: 50px;
  font-size: 35px;
  font-weight: 900;
  color: #F76C8D;
}

h1 {
  margin-left: 100px;
  margin-top: 25px;
  color: green;
}

.app-container, .editor-container{
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

.code-runner, .problems-list, .editor {
  height: 90vh;
}

footer {
  position: fixed;
  left:0px;
   bottom:0px;
   background-color: #465561;
   border-top: 1.5px solid #cccccc;
   height: 30px;
   width:100%;
}

.problems-list {
  grid-area: problems;
   white-space: normal;
  background-color: white;
  color: black;
  font-size: 20px;
  position: relative;
  resize: none;
  outline: none;
  border: 1.5px solid #cccccc;
  border-right: none;
  overflow-y:auto;
  font-family: Tahoma, sans-serif;
}

.problem-list-item {
  background-color: #F2F2F2;
  border-bottom: 2px solid #cccccc;
  padding: 20px;
  position: relative;
}

.selected-item {
  background-color: #FFD56B;
}

.problem-description {
  font-size: 20px;
  padding: 20px;
}


.code-runner {
  grid-area: code-runner;
  white-space: normal;
  background-color: white;
  color: black;
  font-size: 20px;
  resize: none;
  outline: none;
  border: 1.5px solid #cccccc;
  border-left: none;
  overflow-y:auto;
  font-family: Tahoma, sans-serif;
  background-color: #FCFCFC;
}

.problem-description {
  padding: 20px;
  font-size: 20px;
  padding: 20px;
  background-color: #FCFCFC;
  height: 100%;
}

.test-output {
  padding: 40px;
  padding-top: 20px;
  padding-left: 60px;
}
