body {
  background-color: #FCFCFC;
}

.container {
  margin: 20px;
}

div[contenteditable="true"] {
  padding-left: 40px;
  padding-top: 30px;
}

.editor-container {
  height: 100%;
}


.editor {
  white-space: normal;
  font-size: 20px;
  position: relative;
  resize: none;
  outline: none;
  font-family: Tahoma, sans-serif;
  overflow-y:auto;
  background-color: white;
  border: 1.5px solid #cccccc;
  vertical-align: top;
}

/* .editor-box {
  margin-top: 10px;
}
.editor-buttons {
  margin-top: 10px;
} */


.run-button, .solution-button{
  box-shadow: .3px .3px;
  color: black;
  position: absolute;
  right: 21%;
  top: 1%;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: #F2F2F2;
  font-size: 15px;
}

.solution-button {
  width: 120px;
  right: 1.5%;
  top: 1%;
}


.editor button:hover {
  background-color: #ffe068;
}


div[data-contents="true"], .DraftEditor-root, .DraftEditor-editorContainer {
  display: inline-block;
  height: 100%;
}


.side-numbers {
  font-size: 20px;
  padding-left: 20px;
  font-family: Tahoma, sans-serif;
  color: grey;
  display: inline-block;
  width: 10px;
}

.last-line-number {
  display: inline;
}

.side-numbers,
div[contenteditable="true"] {
  line-height: 28px;
}

.variable-suggestions {
  position: fixed;
  right: 10%;
  height: 100px;
  width: 100px;
  background-color: white;
}
