.code-runner {
  grid-area: code-runner;
  white-space: normal;
  background-color: white;
  color: black;
  font-size: 20px;
  resize: none;
  outline: none;
  border: 1.5px solid #cccccc;
  border-left: none;
  overflow-y:auto;
  font-family: Tahoma, sans-serif;
  background-color: #FCFCFC;
  min-width: 350px;
}

.problem-description {
  padding: 20px;
  font-size: 20px;
  padding: 20px;
  background-color: #FCFCFC;
  height: 100%;
}



.test-output {
  padding: 40px;
  padding-top: 30px;
  padding-left: 60px;
}
