
.problems-list {
  grid-area: problems;
   white-space: normal;
  background-color: white;
  color: black;
  font-size: 20px;
  position: relative;
  resize: none;
  outline: none;
  border: 1.5px solid #cccccc;
  border-right: none;
  overflow-y:auto;
  font-family: Tahoma, sans-serif;
}

.problem-list-item {
  background-color: #F2F2F2;
  border-bottom: 2px solid #cccccc;
  padding: 20px;
  position: relative;
}

.selected-item {
  background-color: #FFD56B;
}

.problem-description {
  font-size: 20px;
  padding: 20px;
}
