.problems-list {
  background-color: #AAAAAA;
  color: white;
  font-size: 20px;
  position: relative;
  width: 45%;
  height: 780px;
  margin-top: 10px;
  resize: none;
  outline: none;
  border: 3px solid #cccccc;
  padding: 0px;
  padding-left: 0px;
  display: inline-block;
  font-family: Tahoma, sans-serif;
}

.problem-list-item {
  background-color: #6D6D6D;
  border-bottom: 3px solid #cccccc;
  padding: 10px;
  position: relative;
}

.selected-item {
  background-color: #ffe068;
}

.problem-description {
  font-size: 16px;
  padding: 10px;
}
