.problems-list {
  background-color: #6D6D6D;
  color: white;
  font-size: 20px;
  position: absolute;
  width: 200px;
  margin-top: 10px;
  left: 825px;
  resize: none;
  outline: none;
  border: 3px solid #cccccc;
  padding: 0px;
  padding-left: 0px;
  font-family: Tahoma, sans-serif;
}

.problem-list-item {
  border-bottom: 3px solid #cccccc;
  padding: 10px;
  position: relative;
}

.selected-item {
  background-color: #ffe068;
}
